<button type="button" aria-label="{{t "Toggle color scheme"}}" class="color-scheme-toggle" title="{{t "Color Scheme"}}">
    <span class="color-scheme-icons">
        <span class="color-scheme-icon color-scheme-icon--light">
            {{> "icons/sun"}}
        </span>
        <span class="color-scheme-icon color-scheme-icon--warm">
            {{> "icons/sunset"}}
        </span>
        <span class="color-scheme-icon color-scheme-icon--dark">
            {{> "icons/moon"}}
        </span>
    </span>
</button>