{{!< default}}

<section class="error-page">
    <div class="error-page__inner wrapper">
        <h1>Нет интернета</h1>
        <a class="error-page__homelink" href="{{@site.url}}">На главную →</a>
    </div>
</section>
