{{!< default}}

{{#tag}}
    <header class="tag-header">
        <div class="tag-header__inner wrapper">
            <h1>{{name}}</h1>

            <span>{{plural ../pagination.total empty='' singular='%' plural='%'}}</span>

            {{#if description}}
                <p>
                    {{description}}
                </p>
            {{/if}}

        </div>
    </header>
{{/tag}}

<section class="post-bottom">
    <div class="post-bottom__inner wrapper">
        {{#foreach posts}}
            {{> "loop-bottom"}}
        {{/foreach}}
    </div>
</section>

{{pagination}}
