blockquote {
    font-size: calc(2 * .005 * 100vw + .917rem) !important;
    line-height: 1.2 !important;
    margin: 2em 0 !important;
    padding-left: 1.8em !important;
    position: relative;
    color: var(--color-text-bold);
    font-style: normal !important;
    text-align: inherit !important;

    &:before {
        color: var(--color-accent);
        content: '\201C';
        font-size: 2.5em;
        left: 0;
        line-height: 1;
        position: absolute;
        top: 0;
    }

    p {
        margin-bottom: 0.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    small,
    cite {
        display: block;
        font-size: 0.75em !important;
        font-style: normal;
        font-weight: normal;
        line-height: 1.5;
        margin-top: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }


}

.kg-blockquote-alt {
    padding: 30px 0 !important;
    width: 90% !important;
    margin: 2em auto !important;
    font-style: normal !important;
    text-align: inherit !important;

    &:before {
        content: '';
        border-top: 5px solid var(--color-accent);
        position: absolute;
        top: 0;
        width: 50%;
        left: 0;
    }

    &:after {
        content: '';
        border-top: 5px solid var(--color-accent);
        position: absolute;
        bottom: 0;
        width: 50%;
        right: 0;
    }
}
