code,
pre {
    font-family: monospace;
    border-radius: 8px;
    font-size: 1.6rem;
    background: var(--color-bg-secondary);
}

code {
    font-size: 2rem;
    padding: 8px;
}

pre {
    font-size: 1.6rem;
    margin: 0 0 2.4em;
    overflow: auto;
    padding: 1.5em;
    position: relative;
    white-space: pre;

    code {
        font-size: 1.6rem;
        padding: 0;
    }
}

.kg-code-card {
    pre {
        margin: 0;
    }
}
