.related-posts {
    padding: 0 20px;
    margin-top: 30px;
    margin-bottom: 50px;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .post-feed__item {
        flex: 1 1 100%;

        @media(min-width: $breakpoint-m) {
            flex: 1 1 calc(50% - 30px);
        }
    }
}

.source-box {
    background-color: var(--color-bg-secondary);
    border-radius: 5px;
    padding: 20px 20px 8px;
    margin-top: 30px;
    width: 100%;

    @media(min-width: $breakpoint-m) {
        width: 70%;
    }

    &__link {
        width: 100%;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        text-overflow: ellipsis;

    }
}

.entry__footer-comment {
    padding: 50px 20px;

    &--dark {
		display: none;
	}

    &-title {
        font-family: var(--font-secondary);
        color: var(--color-accent);
        font-size: calc(0.7 * .011 * 100vw + 1.284rem);
        margin-bottom: 30px;
    }
}
