@font-face {
    font-family: 'Kelson Sans';
    src:
        local('Kelson Sans Regular RU'),
        local('KelsonSans-RegularRU'),
        url('fonts/kelsonsansregularru.woff2') format('woff2'),
        url('fonts/kelsonsansregularru.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kelson Sans';
    src:
        local('Kelson Sans Bold RU'),
        local('KelsonSans-BoldRU'),
        url('fonts/kelsonsansboldru.woff2') format('woff2'),
        url('fonts/kelsonsansboldru.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: calc(0.5 * .005 * 100vw + .917rem);
    line-height: 1.6;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color-bg);
    font-family: var(--font-secondary);
    color: var(--color-primary);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: var(--color-primary);
    cursor: pointer;
    transition: $transition;

    &:hover {
        color: var(--color-primary-lighter);
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-secondary);
    font-weight: var(--font-bold);
    line-height: 1;
    word-break: break-word;
}

h1 {
    font-size: calc(.012 * 100vw + 1.467rem);
}

h2 {
    font-size: calc(.011 * 100vw + 1.284rem);
}

h3 {
    font-size: calc(.009 * 100vw + 1.284rem);
}

h4 {
    font-size: calc(.007 * 100vw + 1.217rem);
}

h5 {
    font-size: calc(.006 * 100vw + 1.15rem);
}

h6 {
    font-size: calc(.006 * 100vw + .951rem);
}


p {
    font-family: var(--font-main);
    font-size: calc(2.2 * .005 * 100vw + .917rem);

    @media(min-width: $breakpoint-s) {
        font-size: calc(1 * .005 * 100vw + .917rem);
    }
}

b,
strong {
    font-weight: var(--font-bold);
    color: var(--color-text-bold);
}

em {
    font-style: italic;
}

small {
    font-size: 80%;
}

mark {
    background-color: rgb(255, 236, 178);
    padding: 3px;
    border-radius: 4px;
}

hr {
    margin: 2.4em 0;
    border-top: 1px solid var(--color-bg-secondary);
}

.wrapper {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.view {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
}


.viewport {
    min-height: 100vh;
}

.post-feed__item-imagewrap {
    overflow: hidden;
    border-radius: 5px;
    transition: $transition;
    display: block;

    img {
        transition: $transition;
    }

    &:hover img {
        transform: scale(1.05);
    }
}
