{{#if @custom.comment_on_post}}

    <section class="entry__footer-comment">
        <div class="entry__footer-comment-inner view">
            <div class="entry__footer-comment-title">
                Комментарии
            </div>
            <div class="entry__footer-comment--dark">
                <script async src="https://telegram.org/js/telegram-widget.js?19" data-telegram-discussion="propagandistmedia" data-comments-limit="5" data-colorful="1" data-color="F83435" data-dark="1"></script>
            </div>
            <div class="entry__footer-comment--light">
                <script async src="https://telegram.org/js/telegram-widget.js?19" data-telegram-discussion="propagandistmedia" data-comments-limit="5" data-colorful="1" data-color="F83435"></script>
            </div>
        </div>
    </section>

{{/if}}
