<div class="cookie-alert">
    <p>Мы используем файлы cookies для улучшения работы сайта. Это не страшно. Узнайте больше в нашей <a href="/privacy" target="_blank">политике обработки персональных данных</a>.</p>
    <a class="cookie-alert__accept" role="button">ОК</a>
</div>
