<a class="donate-banner" href="/donate">
    <div class="donate-banner__inner">
        <div class="donate-banner__logo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path fill="none" d="M0 0h256v256H0z"/><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="24" d="M56 184h88M88 216V40h60a52 52 0 0 1 0 104H56"/></svg>
        </div>
        <div class="donate-banner__content">
            <h4>Поддержать Пропагандиста</h4>
            {{!-- <p>Все собранные средства направляются на развитие проекта</p> --}}
        </div>
    </div>
</a>
