<div class="preloader">
    <div class="loader">
        <svg viewBox="0 0 121.09 189.202" width="119.146" height="178.988" xmlns="http://www.w3.org/2000/svg"><path style="fill:#f83435;stroke-width:.189392" d="M-2.567 0v120.222l45.36-.153 17.613-53.592 17.614 53.592 45.359.153V0Zm42.284 189.202h41.378l-20.689-14.924Zm-42.284 0h23.03l11.444-35.63-34.474-25.225zm102.916 0h23.03v-60.855l-34.473 25.225z"/></svg>
    </div>
</div>
