.hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    height: 100vh;
    background: var(--color-bg);
    border-right: 1px solid var(--color-border);
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 4000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.is-active {
        transform: none;
    }

    @media (min-width: $breakpoint-medium) {
        display: none;
    }
}

.hamburger-menu-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
