.post-template {
    overflow-x: hidden;
}

.entry {

    &__title {
        font-size: calc(2.2 * .011 * 100vw + 1.284rem);
    }

    &__content {
        padding: 40px 20px;
        background-color: var(--color-bg-primary);

        p + p {
            margin-top: 20px;
        }

        ul {
            font-family: var(--font-main);

            li + li {
                margin-top: 20px;
            }
        }

        h2, h3, h4 {
            margin-top: 50px;
            margin-bottom: 20px;
        }

        > img {
            margin-top: 30px;
        }

        a {
            font-weight: 600;
            color: var(--color-accent);
        }

    }

    &__footer {
        margin: 30px 0 0;
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 70px;
        padding: 0 20px;

        @media (min-width: $breakpoint-xl) {
            padding: 0;
        }

        @media (min-width: $breakpoint-l) {
            flex-wrap: nowrap;
        }

        &-content {
            margin-top: 30px;
            margin-left: 30px;

            @media (min-width: $breakpoint-l) {
                margin-top: 0;
            }

            time {
                font-weight: 500;
                color: #838383;
            }

            p {
                display: none;
                font-family: var(--font-secondary);

                @media (min-width: $breakpoint-l) {
                    display: block;
                    margin: 30px 100px 30px;
                }
            }
        }
    }

    &__feature-image {
        position: relative;
        width: 100%;

        img {
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
            width: 100%;
        }

        @media (min-width: $breakpoint-l) {
            max-width: 40%;
            min-width: 40%;
            min-height: 500px;
        }

        figcaption {
            position: absolute;
            bottom: -1px;
            left: -1px;
            font-size: 60%;
            color: var(--color-primary);
            background: var(--color-bg-secondary);
            padding: 5px;
            border-radius: 0 5px 0 5px;
        }
    }

    &__header-tags  {
        display: flex;
        margin-bottom: 20px;
        flex-wrap: wrap;

        a {
            color: var(--color-accent);
            font-weight: 700;
        }

        a + a {
            margin-left: 10px;
        }
    }

}

.lightense-backdrop {
    background-color: var(--color-bg) !important;
}




/* Ghost Embed Cards -------------------------------------- */

.kg-card {
    margin: 20px 0;

    figcaption {
        text-align: center;
        color: var(--color-text-secondary);
        font-size: 90%;
    }
}

.kg-image-card {
    img {
        border-radius: 5px;
        margin: 30px 0;
    }

    &.kg-width-full {
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            position: relative;
            width: 100vw;

        img {
            border-radius: 0;
        }

    }

    &.kg-width-wide {
        @media (min-width: $breakpoint-xl) {
            min-width: 100%;
            position: relative;
            width: calc(100% + 10em + 10em);
            margin-left: -10em;
        }
    }
}

.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.kg-embed-card {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}



/* Galleries ---------------------------------------------- */

.kg-gallery-card + .kg-gallery-card {
    margin-top: 0.75em;
}

.kg-gallery-container {
    position: relative;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}

.entry--sidebar {
    .entry__header {
        flex-wrap: wrap;
    }

    .entry__feature-image {
        position: relative;
        width: calc(100% + 10em);
        margin-left: 0;
        max-width: 100%;

        @media(min-width: $breakpoint-l) {
            margin-left: -5em;
            max-width: none;
            border-radius: 5px;
            margin-right: -5em;

        }
    }

    .entry__header-content {
        margin-bottom: 30px;
    }

    .entry__content {

        &-inner {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            @media(min-width: $breakpoint-l) {
                flex-wrap: nowrap;
                flex-direction: row;
            }

            > * + * {
                margin-left: 0;
                margin-top: 50px;

                @media(min-width: $breakpoint-l) {
                    margin-top: 0;
                    margin-left: 70px;
                }
            }
        }

        &-main {
            max-width: 100%;

            @media(min-width: $breakpoint-l) {
                max-width: 63%;
            }
        }

        &-sidebar {
            max-width: 100%;

            @media(min-width: $breakpoint-l) {
                max-width: 37%;
            }
        }
    }

    .kg-image-card.kg-width-wide,
    .kg-image-card.kg-width-full {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        left: 0;
        right: 0;

        img {
            border-radius: 5px;
        }
    }
}

.entry--fullimage {
    .entry__header {
        margin-top: -120px;
        padding: 150px 20px 100px 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 0;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            background: rgba(15,15,15,.7);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9;
            transition: all .3s ease-out;
        }

        &-content {
            margin-left: auto;
            position: relative;
            z-index: 99;
        }

        .entry__title {
            color: #f1f1f1;
        }

        p {
            color: #f1f1f1;
            margin: 30px 0 0 10%;
            display: block;

            @media(min-width: $breakpoint-l) {
                margin: 30px 0 0 40%;
            }
        }
    }
}


.progress-bar {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99999;

    &__circle {
        stroke: var(--color-accent);
    }
}
