.head__search-icon {
    margin-right: 20px;
}

.is-search {
    overflow-y: scroll;

    .viewport {
        position: fixed;
        overflow: hidden;
        top: 0;
        right: 0;
        left: 0;
        min-height: 100%;
    }

    .search__inner {
        animation: searchOne .6s ease;
    }

    .search__overlay {
        animation: searchFour .6s ease;
    }

}

.no-search {
    .search {
        animation: searchFive .4s ease;
        visibility: hidden;
    }

    .search__overlay {
        animation: searchThree .6s ease;
    }

    .search__inner {
        animation: searchTwo .6s ease;
    }

}

.search {
    position: absolute;
    display: none;
    transition: $transition;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
    min-height: 100%;

    &__overlay {
        position: fixed;
        z-index: 996;
        background-color: rgba(0,0,0,.6);
        top: 0;
        right: 0;
        left: 0;
        min-height: 100%;
    }

    &__inner {
        position: relative;
        z-index: 9999;
        max-width: 100%;
        background-color: var(--color-bg-primary);
        padding: 0 20px;
    }

    &__field {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__results-inner {
        background-color: var(--color-bg-primary);
    }

    &__closed-button {
        background-color: unset;
        border: none;
        cursor: pointer;

        svg {
            fill: var(--color-primary);
            width: 12px;
            height: 12px;

            @media (min-width: $breakpoint-m) {
                width: 16px;
                height: 16px;
            }

            @media (min-width: $breakpoint-l) {
                width: 24px;
                height: 24px;
            }

        }

    }

}

#search__input {
    background-color: inherit;
    border: none;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    font-size: calc(1.2 * .011 * 100vw + 1.284rem);
    font-family: var(--font-secondary);
    color: var(--color-primary);
    padding: 20px 0 30px 0;

    &:focus {
        border: none;
        outline: none;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance:none;
    }
}

.search__results-item {
    & + & {
        margin-top: 30px;
    }

    &:first-child {
        margin-top: 30px;
    }

    &:last-child {
        padding-bottom: 50px;
    }
}

@keyframes searchOne {
    0% {
        transform: translateY(-120%)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes searchTwo {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(-120%)
    }
}

@keyframes searchThree {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes searchFour {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes searchFive {
    0%,to {
        visibility: visible;
    }
}
